.product {
  align-items: center;
  justify-content: center;
  background-color: var(--third-color);
  border: 4px solid #FFA000;
  border-radius: 10px;
  width: 200px;
  padding: 10px;
  margin: 10px;
  p {
    margin-bottom: 0px !important;
    text-decoration: none;
  }
}
.product-img {
  height: 100px;
  img {
    object-fit: cover;
  }
}

.product-info {}

.product-price {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}